{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="row">
    	<div class="box">
            <div class="main-col col-lg-12 sif-text">
                <h3>Privacy Policy:</h3>
                <p class="sif-subtext">
When registering on our site, as appropriate, you may be asked to enter your Full name, email address, username, and, or other details to help you with your experience. <br><br>

We may use the information we collect from you when you register to: <br>
      - To personalize your experience and to allow us to deliver the type of content in which you are most interested. <br>
      - To improve our website in order to better serve you. <br>
      - To allow us to better service you in responding to your customer service requests. <br>
      - To administer a contest, promotion, survey or other site feature. <br>
      - To send periodic emails regarding your league or other leagues and services. <br>
      - To follow up with you after correspondence <br><br>

Do we use 'cookies'? <br>

Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems
to recognize your browser and capture and remember certain information. <br><br>

We may use cookies to: <br>
      - Help remember you when you return to our site. <br>
      - Understand and save user's preferences for future visits. <br>
      - Keep track of advertisements. <br>
      - Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf. <br><br>

If there are any questions regarding this privacy policy, you may contact us using the information below. <br>

<a href = "mailto:saturdaysinfall@gmail.com">Saturdaysinfall@gmail.com</a> <br><br>

Last Edited: 2019-08-12
                </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}
