/* styles.css */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column; /* To stack header, main, and footer vertically */
}

header {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.title {
    font-size: 36px;
    margin: 0;
    padding-top: 20px;
}

.subheadline {
    font-size: 18px;
    margin: 0;
}

#main-section {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    position: relative; /* Add relative positioning */
}

.main-image {
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute; /* Add absolute positioning */
    top: 50%; /* Adjust the top positioning to center the image vertically */
    left: 0;
    transform: translateY(-50%); /* Center the image vertically */
}

#articles {
    /* Your article styles go here */
}

footer {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}
