/* styles.css */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Changed to min-height to ensure it expands properly */
    background-color: #f0f0f0;
    flex-direction: column; /* To stack header, main, and footer vertically */
}

header {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.title {
    font-size: 36px;
    margin: 0;
    padding-top: 20px; /* Adjust the padding to create space between header and main section */
}

.subheadline {
    font-size: 18px;
    margin: 0;
}

#main-section {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.main-image {
    max-width: 100%;
    height: auto;
    display: block;
}

#articles {
    /* Your article styles go here */
}

footer {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}
