{% extends "base.html" %}

{% block content %}

    <style>
    body {
        background: url("{{ url_for('static', filename='img/player.jpg') }}");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-attachment: fixed;
        background-color: #000;
        -webkit-background-size: 60%;
        -moz-background-size: 60%;
        background-size: auto 60%;
        -o-background-size: 60%;
    }
    </style>

    <main class="container signup-section">
        <div class="box col-xs-12 col-md-6 col-lg-4">

            <h1>My Profile</h1>
            <form method="POST" action="/profile">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.first_name.label }}
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    {{ form.last_name.label }}
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(disabled=True) }}
                </div>
                <div class="form-group">
                    {{ form.create_ts.label }}
                    {{ form.create_ts(disabled=True) }}
                </div>
            {{ form.submit(class="btn-secondary") }}
            <a href="{{ url_for('password_reset') }}" class="hidden-xs btn-primary">Change Password</a>
            </form>
            <br><a href="{{ url_for('password_reset') }}" class="visible-xs" style="color: #af0000">Change Password</a>
        </div>
    </main>
    <br><br><br>

{% endblock %}
