{% extends "base.html" %}

{% block content %}

    <style>
    body {
        background: url("{{ url_for('static', filename='img/light.jpeg') }}");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-attachment: fixed;
        background-color: #000;
        -webkit-background-size: 60%;
        -moz-background-size: 60%;
        background-size: auto 60%;
        -o-background-size: 60%;
    }
    </style>

<div class="container">

    <div class="row">
    	<div class="box">
            <div class="main-col col-lg-12 sif-text">
                <h3>Need some help? Drop us a line.</h3>
                <p><span class="sif-subtext">
                Send us an email at <a href = "mailto:atthletics@gmail.com">atthletics@gmail.com</a>
                </span></p>
            </div>
        </div>
    </div>

</div>

{% endblock %}
