{% extends "base.html" %}

{% block content %}

    <style>
    body {
        background: url("{{ url_for('static', filename='img/weight.jpg') }}");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-attachment: fixed;
        background-color: #000;
        -webkit-background-size: 60%;
        -moz-background-size: 60%;
        background-size: auto 60%;
        -o-background-size: 60%;
    }
    </style>

    <main class="container signup-section">
        <div class="box col-xs-12 col-md-6 col-lg-4">

            <h1>{{ squad_name }}</h1>
            <form method="POST" action="/squad_profile/{{ squad_id }}">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.password }}
                </div>

            {{ form.submit(class="btn-secondary") }}
            </form>

        </div>
    </main>
    <br><br><br>

{% endblock %}
